{%- extends "base.html" %}

{% block headContent %}
    <link rel="stylesheet" href="static/css/index.css" type="text/css" />
    <title>Gabe Newell Airlines</title>
{%- endblock %}

{% block heading %}
    <h1>Gabe Newell Airlines</h1>
    <h2>All hail our lord and savior Gaben</h2>
{%- endblock %}

{% block bodyContent %}
    <section id="Memes">
        <img src="static/images/445.png" />
        <img src="static/images/gabe-newell.png" />
        <img src="static/images/u9pky8iulgw11.jpg" />
    </section>
{%- endblock %}