{%- extends "base.html" %}

{% block headContent %}
    <link rel="stylesheet" href="static/css/register.css" type="text/css" />
    <title>Gabe Newell Airlines | Register</title>
{%- endblock %}

<!-- NOTE: flask will not load javascript in head if it is added to a base file,
    Therefore it has to be in the body. Normally I would put all javascript references in the head,
    but flask doesn't like it.-->
{% block extraJavascript %}
    <script type="text/javascript" src="static/Javascript/register.js"></script>
{%- endblock %}

{% block heading %}
    <h1>Gabe Newell Airlines</h1>
{%- endblock %}

{% block bodyContent %}
    <h2>Register</h2>
    <!-- NOTE: 'return false' prevents default -->
    <form id="registerForm" onsubmit="registerButtonClick(); return false;">
        <section class="inputElement">
            <label><p class="warningText">*Required</p> &nbsp;Username</label>
            <input type="text" id="username" placeholder="Username">
        </section>
        <section class="inputElement">
            <label><p class="warningText">*Required</p> &nbsp;Password</label>
            <input type="password" id="password" placeholder="Password">
        </section>
        <section class="inputElement">
            <label>Email</label>
            <input type="text" id="email" placeholder="Email">
        </section>
        <section class="inputElement">
            <button type="submit" id="registerButton">
                Register
            </button>
        </section>
    </form>
{%- endblock %}